body{
    background-color: rgb(255, 255, 255);
}

.flex{
    display: flex;
}

.btn-group{
    display: flex;
    gap: 2rem;
}

form{
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: .3rem;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
